html {
    background-color: black;
    text-align: center;
}


header {
    color: white;
    height: 400px;
    background-position-x: center;
    background-image: url(img/Linkinpark.webp);
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
}

body {
    color: aliceblue;
    background-color: rgba(84, 109, 42, 0.514);
}

footer {
    background-color: black;
    color: white;
    height: 200px;
    margin-top: 0;
    padding: 2%;
}

b{
    color: rgb(177, 125, 48);
}

input {
    margin: 10px;
}

a {
    color: blanchedalmond;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}

ol{
    border: 2px solid;
    border-color:black;
}

li{
    border: 2px solid;
    border-color:black;
}

table, th, td {    
    border: 2px solid rgb(251, 248, 248);  
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;   
    width: 500px;  
    text-align: center;  
    font-size: 18px; 
    background-color: rgb(48, 51, 50); 
}

address{
    padding: 5%;
}


.profileimg {
    height: 300px;
    width: 200px;
}

.townimg {
    height: 300px;
    width: 400px;
}

.review_picture{
    height: 220px;
    width: 200px;
}


.header_container {
    display: flex;
    flex-direction: column;
}

.bottom_of_header {
    margin-top: auto;
}

.row {
    display: flex;
}

.right {
    flex: 100%;
}

.left {
    flex: 25%;
    float: left;
}

@media screen and (max-width: 430px) {
    h1{
        font-size: 45px;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size:35px;
    }
    h4{
        font-size: 30px;
    }

    p{
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    header{
        height: 450px;
    }

    select{
        height: 30px;
        width: 200px;
        font-size: 15px;
    }

    iframe{
        width: auto;
    }

    input{
        padding: 0;
        height: 40px;
        width: 300px;
        font-size: 20px;;
    }

    a{
        margin-left: 20px;
        margin-right: 20px;
    }

    summary{
        font-size: 20px;
    }

    label{
        font-size: 20px;
    }

    .townimg{
        width: 100%;
    }

    .bottom_of_header{
        font-size: 25px;
    }

    .review_picture{
        height: 250px;
        width: 230px;
    }

    #showtable{
        width: 100%;
    }

    #ticketbutton{
        height: 29px;
        width: 100px;
        font-size: 10px;
    }


}