html{
    background-color: black;
    text-align: center;
}

.profileimg{
    height: 300px;
    width: 200px;
}

aside{
    display: block;
}

.townimg{
    height: 300px;
    width: 400px;
}

header{
    color: white;
    height: 400px;
    background-position-x: center;
    background-image: url(img/Linkinpark.webp);
    background-repeat: no-repeat;
    background-color: black;  
}



footer{
    background-color: black;
    color: white;
    height: 200px;
}

input{
    margin: 10px;
}

body{
    color:aliceblue;
    background-color: darkolivegreen;
}


